.header {
  background: black;
  color: #59F5FF;
  text-shadow: .2rem .2rem #BC428D;
  margin-bottom: 4.8rem;
  padding: 1.6rem 0;

}

.header__title {
  font-size: 3.2rem;
  margin: 0;
}

.header__subtitle {
  font-size: 1.6rem;
  font-weight:500;
  margin: 0;
}
// #BC428D
// #F76BAA
// #217591
// #59F5FF